h1 {
  color: white;
  font-size: 64px;
}

ul {
  list-style-type: none;
}

h3 {
  color:white;
  font-size: 54px;
}

body {
  background-image: url('forest_img.jpg')
}

jumbotron {
  opacity: 0.5;
}


a {
  text-decoration: none; font: menu;
  display: inline-block; padding: 2px 8px;
  background: ButtonFace; color: ButtonText;
  border-style: solid; border-width: 2px;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
a:active {
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

a:hover {
  text-decoration: none;
}
