<div ng-show="submit">
  <h1>Here is a description of your character:</h1>
  <ul>
      <h3><a ui-sref="character.description">{{ name }}</a></h3>
  </ul>
</div>




<div class="col-md-4" ng-hide="submit">
  <h3>Add a new character</h3>
  <form ng-submit="CharacterCtrl.addCharacter()" class="form-inline" role="form" >
    <div class="form-group">
      <input type="text" ng-model="CharactersFactory.characterName" class="form-control" placeholder="Name your character">
    </div>
    <button type="submit" class="btn btn-default" ng-click="submit = true" ng-hide="submitted">Submit</button>
  </form>
</div>

<div ui-view> </div>
