<div ng-hide="character.candle">
<h1>You awake to darkness</h1>
<form ng-submit="addCandle()" role="form">
<input type="text" ng-model="candle" class="form-control" placeholder="What would you like to do?">
</form>
</div>

<div>
  <h5> {{ character.name }}'s status </h5>
  <h6> {{ character.hp }}:hp </h6>
</div>

<div ng-show="character.candle">
<h2>You awaken from a deep slumber in a dark room, In front of you there is a lit candle with a <span ng-click="addCompass()">compass</span> to its side.</h2>

<div ng-show="character.compass">
<h4> Which direction will you choose?</h4>
<a ui-sref="worlds2">North</a>
<a ui-sref="worlds3">East</a>
<a ui-sref="worlds7">West</a>
<a ui-sref="worlds4">South</a>
</div>
